<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Runic Arena
			{% endblock %}
		</title>

		<link rel="icon" href="/assets/icons/favicon.ico">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="min-w-[360px]"> {% block body %}{% endblock %}
		</body>
	</html>
