<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Runic Arena
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		<script src="
			https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js
			"></script>
	</head>
	<body class="min-w-[360px]"> {% block body %}{% endblock %}
		</body>
	</html>
