<div
	class="effects absolute top-0 left-0 w-full h-full">
	<!-- Shine effect -->
	<div class="shine {{rarity}} z-20 absolute h-full w-full top-0 bg-transparent"></div>

	<!-- Halo lumineux -->
	<div class="glare absolute w-full h-full z-30"></div>
</div>
